/* CSS declarations go here */

body {
  padding: 100px 0 0 10%;
}

body * {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.hidden {
  visibility: hidden;
}

div.item {
  position: relative;
  padding: 0 0 0 20px;
  width: 80%;
}

/* Show indentation levels with vertical lines */
div.item:first-of-type .item  {
  margin-left: 27px;
  border-left: #ddd solid 1px;
}

.input {
  position: relative;
  left: 50px;
  outline: 0px solid transparent;
  border: 0 none;
  font-size: 12pt;
  min-height: 1.5em;
}

.zoom {
  display: none;
}

.bullet {
  position: relative;
}

.bullet:hover > .zoom {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  text-decoration: none;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 20px;
  line-height: 1.5em;
  cursor: pointer;

  &:hover {
    text-shadow: 0 0 10px blue;
  }
}

.arrow.hidden {
  background-image: none;
}

.arrow.childless:before {
  content: "\2022";
  font-size: 2em;
}

.arrow.collapsed:before {
  content: "\25B6";
}

.arrow.expanded:before {
  content: "\25BC";
}

.node-context-menu-positioner {
  position: absolute;
  z-index: 100;
}

.node-context-menu {
  position: absolute;
  background: #eee;
  z-index: 100;
  left: 20px;
  box-shadow: 0 2px 4px;
  top: 25px;

  ul {
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      padding: 5px 10px;
      border-bottom: #ccc 1px solid;

      &:hover {
        background: #33f;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.context-menu-overlay {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 40;
}
